body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    .memory-card {
        width: 20%;
        float: left;
        height: 100px;
        transition: 0.6s;
	    transform-style: preserve-3d;
        position: relative;
        .flip-card {
            transform: rotate(180deg);
        }
    }
}